@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'League Spartan';
  box-sizing: border-box;
}

body {
  background: #333d29;
  color: #c2c5aa;
}

#header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 40px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 180px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #c2c5aa;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #c2c5aa;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 7%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #6F4E37;
}

.gif {
  padding-top: 40px;
  margin-left: 200px;
}

/* --About Section-- */
#about {
  color: #a4ac86;
}

.user {
  width: 600px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #a4ac86;
}

p {
  padding-top: 30px;
  font-size: 25px;
  color: #b6ad90;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #582f0e;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

.tab-links.active-link::after {
  width: 60%;
}

/* --About Section Tabs-- */
.tab-contents ul li {
  margin: 10px 0;
  font-size: 18px;
}

.tab-contents ul li span {
  color: #c2c5aa;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* --Cards in Project Gallery-- */
#projects {
  padding: 30px 0;
  font-size: 30px;
}

.subtitle span {
  color: #6F4E37;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}